/* Основные секции */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero p {
    max-width: 500px;
    text-align: center;
}

.hero-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.hero-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-video::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.highlight {
    color: var(--primary-color);
}

/* Направления деятельности */
.directions-section {
    margin-bottom: var(--margin-bottom-page-1920);
}

.directions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap-between-cards-desktop);
}

.direction-item {
    display: flex;
    flex-direction: column;
    background: var(--card-bg);
    backdrop-filter: blur(100px);
    border-radius: var(--border-radius-md);
    padding: 26px 2px;
    text-align: center;
    border: var(--border);
}

.direction-item {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: block;
    color: var(--black-70);
}

.direction-item:hover {
    transform: translateY(-4px);
    color: var(--secondary-color);
    border-color: var(--border-color-hover);
    box-shadow: var(--box-shadow-hover);
}

.direction-icon {
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.direction-icon img {
    height: 3.3rem;
    filter: grayscale(100%) saturate(0) contrast(4) opacity(1);
    transition: filter 0.35s ease, transform 0.4s ease, opacity 0.35s ease;
}

.direction-item:hover .direction-icon img {
    transform: var(--transform-scale);
    filter: none;
    opacity: 1;
}

/* Адаптивность */
@media (max-width: 768px) {
    .hero-video {
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .hero-video video {
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }
}

@media (max-width: 600px) {

    .directions-grid {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: var(--gap-between-cards-mobile);
    }

    .direction-item {
        padding: 20px 2px;
    }

    .direction-icon {
        font-size: 2rem;
    }

    .direction-name {
        font-size: 0.9rem;
    }

}

@media (max-width: 480px) and (orientation: portrait) {
    .hero-video video {
        width: 100%;
        height: 100%;
    }
}

@media (max-height: 480px) and (orientation: landscape) {
    .hero-video video {
        width: 100%;
        height: 100%;
    }
}