/* Основные секции */
.hero {
    display: flex;
    justify-content: space-between;
    min-height: 60vh;
    align-items: flex-end;
}

.hero-content {
    flex: 1.1;
    padding-left: 40px;
}

.hero-video {
    flex: 1;
    text-align: center;
}

.hero-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight {
    color: var(--primary-color);
}

/* Сетки направлений */
.directions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: var(--margin-bottom-page-1920);
}

.direction-item {
    display: flex;
    flex-direction: column;
    background: var(--white);
    border-radius: var(--border-radius-md);
    padding: 24px 2px;
    text-align: center;
    border: var(--border);
}

.direction-item {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: block;
}

.direction-item:hover {
    transform: translateY(-4px);
    color: var(--primary-color);
    border-color: var(--border-color-hover);
    box-shadow: var(--box-shadow-hover);
}

.direction-icon {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: var(--primary-color);
    transition: transform 0.3s ease;
}

.direction-item:hover .direction-icon {
    transform: scale(1.1);
}

.direction-name {
    font-size: 1rem;
}

/* Адаптивность */
@media (max-width: 900px) {

    .hero {
        flex-direction: column-reverse;
    }

    .hero-content {
        padding-left: 0;
        margin-bottom: 40px;
    }
}

@media (max-width: 600px) {

    .directions-grid {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 10px;
    }

    .direction-item {
        padding: 20px 2px;
    }

    .direction-icon {
        font-size: 2rem;
    }

    .direction-name {
        font-size: 0.9rem;
    }

}