header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(100px);
    z-index: 1000;
    padding: 14px 4%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: flex;
}

.logo img {
    height: 40px;
}

/* Стили для навигации с иконками */
.nav-links {
    display: flex;
    list-style: none;
    gap: 16px;
    align-items: center;
}

.nav-links a {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: var(--border-radius-max);
    color: var(--black-70);
}

.nav-links a:hover {
    background-color: var(--white-20);
    color: var(--secondary-color-hover);
}

.nav-links a:active {
    color: var(--secondary-color-active);
}

.nav-links a.active {
    color: var(--secondary-color);
    background-color: var(--white-40);
    pointer-events: none;
}

.nav-icon {
    width: 24px;
    height: 24px;
    filter: grayscale(100%) saturate(0) contrast(4) opacity(1);
}

.nav-link:hover .nav-icon {
    filter: none;
}

.nav-link:hover .nav-text {
    color: var(--primary-color-hover);
}

.nav-link.active .nav-icon {
    filter: none;
}

.nav-text {
    font-size: 0.9rem;
    font-weight: 500;

}

/* Адаптивность для мобильных устройств - только иконки */
@media (max-width: 900px) {
    header {
        padding: 10px 4%;
    }

    .logo img {
        height: 36px;
    }

    .nav-links {
        gap: 12px;
    }

    .nav-links a {
        padding: 10px;
    }

    .nav-links img {
        margin-bottom: 0;
    }

    .nav-text {
        display: none;
    }

    .nav-icon {
        width: 28px;
        height: 28px;
    }
}