header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(100px);
    z-index: 1000;
    padding: 14px 4%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: flex;
}

.logo img {
    height: 40px;
}

/* Стили для навигации с иконками */
.nav-links {
    display: flex;
    list-style: none;
    gap: 16px;
    align-items: center;
}

.nav-links a {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--black);
    transition: all 0.3s ease;
    padding: 10px 16px;
    border-radius: var(--border-radius-md);
}

.nav-links a:hover {
    background-color: var(--white-20);
    color: var(--secondary-color-hover);
}

.nav-links a:active {
    color: var(--secondary-color-active);
}

.nav-links a.active {
    color: var(--secondary-color);
    background-color: var(--white-40);
    pointer-events: none;
}

.nav-links i {
    font-size: 1.4rem;
}

.nav-text {
    font-size: 0.9rem;
    font-weight: 500;
}

/* Адаптивность для мобильных устройств - только иконки */
@media (max-width: 900px) {
    .nav-links a {
        padding: 10px;
    }

    .nav-links i {
        margin-bottom: 0;
    }

    .nav-text {
        display: none;
    }
}

@media (max-width: 480px) {
.logo img {
    height: 32px;
}
}